@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif
}

#details .card {
    background-color: #fff;
    padding: 14px;
    border: none
}

#details .demo {
    width: 100%
}

#details ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0
}

#details li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer
}

#details img {
    display: block;
    height: auto;
    width: 100%
}

#details .stars i {
    color: #f6d151
}

#details .stars span {
    font-size: 13px
}

#details hr {
    color: #d4d4d4
}

#details .badge {
    padding: 5px !important;
    padding-bottom: 6px !important
}

#details .badge i {
    font-size: 10px
}

#details .profile-image {
    width: 35px
}

#details .comment-ratings i {
    font-size: 13px
}

#details .username {
    font-size: 12px
}

#details .comment-profile {
    line-height: 17px
}

#details .date span {
    font-size: 12px
}

#details .p-ratings i {
    color: #f6d151;
    font-size: 12px
}

#details .btn-long {
    padding-left: 35px;
    padding-right: 35px
}

#details .buttons {
    margin-top: 15px
}

#details .buttons .btn {
    height: 46px
}

#details .buttons .cart {
    border-color: #ff7676;
    color: #ff7676
}

#details .buttons .cart:hover {
    background-color: #e86464 !important;
    color: #fff
}

#details .buttons .buy {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676
}

#details .buttons .buy:focus,#details .buy:active {
    color: #fff;
    background-color: #ff7676;
    border-color: #ff7676;
    box-shadow: none
}

#details .buttons .buy:hover {
    color: #fff;
    background-color: #e86464;
    border-color: #e86464
}

#details .buttons .wishlist {
    background-color: #fff;
    border-color: #ff7676
}

#details .buttons .wishlist:hover {
    background-color: #e86464;
    border-color: #e86464;
    color: #fff
}

#details .buttons .wishlist:hover i {
    color: #fff
}

#details .buttons .wishlist i {
    color: #ff7676
}

#details .comment-ratings i {
    color: #f6d151
}

#details .followers {
    font-size: 9px;
    color: #d6d4d4
}

#details .store-image {
    width: 42px
}

#details .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px
}

#details .bullet-text {
    font-size: 12px
}

#details .my-color {
    margin-top: 10px;
    margin-bottom: 10px
}

#details label.radio {
    cursor: pointer
}

#details label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

#details label.radio span {
    border: 2px solid #8f37aa;
    display: inline-block;
    color: #8f37aa;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-transform: uppercase;
    transition: 0.5s all
}

#details label.radio .red {
    background-color: red;
    border-color: red
}

#details label.radio .blue {
    background-color: blue;
    border-color: blue
}

#details label.radio .green {
    background-color: green;
    border-color: green
}

#details label.radio .orange {
    background-color: orange;
    border-color: orange
}

#details label.radio input:checked+span {
    color: #fff;
    position: relative
}

#details label.radio input:checked+span::before {
    opacity: 1;
    content: '\2713';
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    left: 4px
}

#details .card-body {
    padding: 0.3rem 0.3rem 0.2rem
}