@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    background-color: #eee;
    font-family: 'Calibri', sans-serif !important
}

.mt-100 {
    margin-top: 100px
}

.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05)
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card .card-body {
    padding: 30px;
    background-color: transparent
}





// body {
//     background: #ddd;
//     min-height: 100vh;
//     vertical-align: middle;
//     display: flex;
//     font-family: sans-serif;
//     font-size: 0.8rem;
//     font-weight: bold
// }

// .title {
//     margin-bottom: 5vh
// }

// .card {
//     margin: auto;
//     max-width: 950px;
//     width: 90%;
//     margin: 2% auto;
//     border: transparent
// }

// @media(max-width:767px) {
//     .card {
//         margin: 3vh auto
//     }
// }

// .cart {
//     background-color: #fff;
//     padding: 4vh 5vh;
  
// }

// @media(max-width:767px) {
//     .cart {
//         padding: 4vh;
      
//     }
// }

// .summary {
//     background-color: #ddd;
  
//     padding: 4vh;
//     color: rgb(65, 65, 65)
// }

// @media(max-width:767px) {
//     .summary {
      
//     }
// }

// .summary .col-2 {
//     padding: 0
// }

// .summary .col-10 {
//     padding: 0
// }

// .row {
//     margin: 0
// }

// .title b {
//     font-size: 1.5rem
// }

// .main {
//     margin: 0;
//     padding: 2vh 0;
//     width: 100%
// }

// .col-2,
// .col {
//     padding: 0 1vh
// }

// a {
//     padding: 0 1vh
// }

// .close {
//     margin-left: auto;
//     font-size: 0.7rem;
//     width:10px
// }

// img {
//     width: 3.5rem
// }

// .back-to-shop {
//     margin-top: 4.5rem
// }

// h5 {
//     margin-top: 4vh
// }

// hr {
//     margin-top: 1.25rem
// }

// form {
//     padding: 2vh 0
// }

// select {
//     border: 1px solid rgba(0, 0, 0, 0.137);
//     padding: 1.5vh 1vh;
//     margin-bottom: 4vh;
//     outline: none;
//     width: 100%;
//     background-color: rgb(247, 247, 247)
// }

// input {
//     border: 1px solid rgba(0, 0, 0, 0.137);
//     padding: 1vh;
//     margin-bottom: 4vh;
//     outline: none;
//     width: 100%;
//     background-color: rgb(247, 247, 247)
// }

// input:focus::-webkit-input-placeholder {
//     color: transparent
// }

// .btn1 {
//     background-color: #000;
//     border-color: #000;
//     color: white;
//     width: 100%;
//     font-size: 0.7rem;
//     margin-top: 4vh;
//     padding: 1vh;
//     border-radius: 0
// }

// .btn1:focus {
//     box-shadow: none;
//     outline: none;
//     box-shadow: none;
//     color: white;
//     -webkit-box-shadow: none;
//     -webkit-user-select: none;
//     transition: none
// }

// .btn1:hover {
//     color: white
// }

// a {
//     color: black
// }

// a:hover {
//     color: black;
//     text-decoration: none
// }

// #code {
//     background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
//     background-repeat: no-repeat;
//     background-position-x: 95%;
//     background-position-y: center
// }

// ._p-qty > span {
//     color: black;
//     margin-right: 15px;
//     font-weight: 500;
// }
// ._p-qty .value-button {
//     display: inline-flex;
//     border: 0px solid #ddd;
//     margin: 0px;
//     width: 30px;
//     height: 35px;
//     justify-content: center;
//     align-items: center;
//     background: #fd7f34;
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     color: #fff;
// }

// ._p-qty .value-button {
//     border: 0px solid #545bc4;
//     height: 35px;
//     font-size: 20px;
//     font-weight: bold;
// }
// ._p-qty input#number {
//     text-align: center;
//     border: none;
//     border-top: 1px solid #545bc4;
//     border-bottom: 1px solid #545bc4;
//     margin: 0px;
//     width: 50px;
//     height: 35px;
//     font-size: 14px;
//     box-sizing: border-box;
// }